html,
body {
  padding: 0;
  margin: 0;
  font-family: Prompt;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.animationBg {
  animation: scroll 70s linear infinite;
  background: url("/images/bgSky.jpg");
  color: #292929;
  height: 100vh;
  min-width: 360px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  background-attachment: fixed;
  background-size: auto;
}

@keyframes scroll {
  100% {
    background-position: 0px -3000px;
  }
}

@media (prefers-reduced-motion) {
  .animationBg {
    animation: scroll 200s linear infinite;
  }
}

.zoomImage {
  width: 100% !important;
}

.buttonLink {
  margin: 10px;
  padding: 15px 25px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #649b4b;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #42523b;
}

.buttonLink:hover {
  background-color: #526e46;
}

.buttonLink:active {
  background-color: #526e46;
  box-shadow: 0 5px #3b4736;
  transform: translateY(4px);
}

.myProfile {
  width: 240px;
  height: 320px;
  border-radius: 5px;
}

.youtube {
  width: 100%;
  height: 100%;
  padding-left: 15px;
}

@media (min-width: 1024px) {
  .myProfile {
    width: 260px;
    height: 360px;
  }
}

@media (max-width: 1024px) {
  .myProfile {
    width: 270px;
    height: 375px;
  }
}

@media (max-width: 768px) {
  .youtube {
    padding-left: 0px !important;
  }
  .buttonLink {
    font-size: 17px;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    flex-grow: inherit;
  }
}

.lineColor {
  transition: width 0.5s ease 0s, margin-left 0.5s ease 0s;
  opacity: 1;
  border: 0px;
  height: 5px;
  background-image: linear-gradient(-90deg, #00d3ee, #ee0065);
}
